@model IEnumerable<WebAppTask.Models.Product>

@{
    ViewData["Title"] = "UserView";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceForPiece)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PvnPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceForPiece)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PvnPrice)
                </td>
            </tr>
        }
    </tbody>
</table>
